[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
req_extensions = v3_req

[req_distinguished_name]
countryName = TR
stateOrProvinceName = State
localityName = City
organizationalUnitName = Unit
commonName = 192.168.50.91  # Sunucu IP'nizi buraya yazın

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = 192.168.50.91  # Sunucu IP adresini buraya yazın
DNS.2 = 192.168.50.65  # Kendi IP adresinizi buraya yazın
IP.1 = 192.168.50.91  # Sunucu IP adresini buraya yazın
IP.2 = 192.168.50.65  # Kendi IP adresinizi buraya yazın
